* {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    body {
      font-family: Georgia, serif;
      background-color: #f8f8f8;
      color: #000;
    }

    header {
      background: #fff;
      padding: 20px 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #ddd;
    }

    .logo {
      font-weight: bold;
      font-size: 18px;
    }

    nav a {
      margin-left: 25px;
      text-decoration: none;
      color: #000;
      font-weight: 500;
      text-transform: uppercase;
      font-size: 14px;
    }

    .hero {
      background: #fff;
      padding: 40px 20px;
      text-align: center;
    }

    .hero img {
      width:854px;
      height: 533px;
    }

    .hero h1 {
      font-size: 50px;
      margin-top: 20px;
      width: 858px;
        margin-left: auto;
        margin-right: auto;
    }

    .hero .meta {
      width: 592px;
      margin-top: 10px;
      font-weight: 400;
      line-height: 170%;
      font-size: 20px;
      color: #000000;
        margin-left: auto;
        margin-right: auto;
    }

    .divider {
      width: 640px;
      height: 2px;
      background-color: #000;
      margin: 30px auto;
    }

    .articles {
      background: #fff;
      padding: 40px 20px;
      max-width: 800px;
      margin: 0 auto;
    }

    .articles h2 {
      text-align: center;
      margin-bottom: 30px;
      font-size: 22px;
    }

    .article-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
    }

    .article {
      text-align: center;
    }

    .article img {
      width: 100%;
      max-width: 100%;
      height: auto;
      margin-bottom: 10px;
    }

    .article h3 {
      font-size: 14px;
      margin-top: 10px;
      margin-bottom: 5px;
    }

    .footer {
      background: #000;
      color: #fff;
      text-align: center;
      padding: 40px 20px;
      font-size: 13px;
    }

    .footer p {
      margin-bottom: 10px;
      line-height: 140%;
      width: 488px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 50px;
    }
    .footer h1 {
      font-size: 24px;
      font-family:New York Extra Large, serif;
      margin-top: 40px;
        margin-bottom: 20px;
    }
    .footer nav{
      color: #fff9f9;
    text-decoration: underline;
      font-weight: 500;
      margin: 0 5px;
     width: 209px;
      margin-left: auto;
      margin-right: auto;
    }
    footer #p2{
      margin-top: 30px;
      line-height: 140%;
      width: 209px;
      margin-left: auto;
      margin-right: auto;
    }
    body{
        background-color: purple;
    }
    section{
         background-color: lawngreen;

    }